<div id="content" class="span12>"><div><div class="row-fluid" ng-controller='EditWineController'>

    <form class="form-horizontal span12">

        <fieldset>

            <legend>Wine Details</legend>
            <br>

            <div class="row">
                <div class="span8">
                    <div class="control-group">
                        <label for="name" class="control-label">Name:</label>

                        <div class="controls">
                            <input type="text" id="name" name="name" value="" ng-model='wine.name'>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="grapes" class="control-label">Grapes:</label>

                        <div class="controls">
                            <input type="text" id="grapes" name="grapes" value="" ng-model='wine.grapes'>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="country" class="control-label">Country:</label>

                        <div class="controls">
                            <input type="text" id="country" name="country" value="USA" ng-model='wine.country'>
                            <span class="help-inline"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="region" class="control-label">Region:</label>

                        <div class="controls">
                            <input type="text" id="region" name="region" value="California" ng-model='wine.region'>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="year" class="control-label">Year:</label>

                        <div class="controls">
                            <select class="input-small" id="year" name="year" value="" ng-model='wine.year'>
                                <option>2012</option>
                                <option>2011</option>
                                <option>2010</option>
                                <option>2009</option>
                                <option>2008</option>
                                <option>2007</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="description" class="control-label">Notes:</label>

                        <div class="controls">
                            <textarea id="description" name="description" style="width: 90%;" rows="6" ng-model='wine.description'></textarea>
                        </div>
                    </div>

                </div>

                <div class="span4">
                    <div class="well" style="width: 180px;text-align: center;width:50%;margin: 0px auto;">
                        <!-- <p><img id="picture" width="180" src="pics/generic.jpg"></p> -->
                    </div>
                </div>

            </div>

        </fieldset>

        <div class="form-actions">
            <a href="#" class="btn btn-primary save" ng-click='saveEditedWine(wine,wine._id)'>Save</a>
            <a href="#" class="btn btn-danger" ng-click='deleteWine(wine._id)'>Delete</a>
        </div>

    </form>

</div>
