<div class = "row">
  <div class="col-md-6">
    <h2>
      Wines
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a style="margin-top:20px" class="btn btn-default" href="#/new/wine">New</a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="container">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="wine in wines" style="cursor:pointer">
        <td>
          <a href="#/edit/wine/{{wine._id}}">{{ wine.name }} {{ wine.year }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
